@import "tailwindcss";
/* 
@theme {
    --color-bg: #f5f1e8;
    --color-grid: rgba(0, 0, 0, 0.05);
    --color-text: #1a1a1a;
    --color-muted: #6b7280;
    --color-accent: #2563eb;

    --radius-card: 1rem;
}

body {
    background: var(--color-bg);
    color: var(--color-text);
}

/* .bg-grid {
    background-image: radial-gradient(var(--color-grid) 1px, transparent 1px);
    background-size: 24px 24px;
} 

.bg-grid-pattern {
    background-image: radial-gradient(#d4d4d4 1px, transparent 1px);
    background-size: 24px 24px;
} */


@layer base {
    body {
        @apply bg-[#FDFBF7] text-neutral-800 antialiased selection:bg-neutral-200;
    }
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}